.team-content {
    margin-bottom: 20px;
    overflow: hidden;
}

.team-content .span2 {
    float: left;
    margin-right: 20px;
}

.team-content .span8 p {
    margin-bottom: 0px;
}

.hero-unit {
    background-color: #EEEEEE;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 20px;
}

.hero-unit p:last-child {
    margin-bottom: 0px;
}

.icon-left {
    display: inline-block;
}

.img-round-corners img {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

ul.thumbnails {
    overflow: hidden;
    width: 540px;
}

ul.thumbnails li {
    float: left;
    margin-right: 10px;
}

ul.thumbnails li img {
    width: 170px;
}

.button_hilite, a.button_hilite {
    color: #ffffff !important;
}

.try_it_now_button_block {
    float: right;
}

.header.row {
    padding-bottom: 0px;
}

.header_mail {
    margin-right: 15px;
    margin-top: 13px;
}

.htabs a {
    font-weight: 300;
    font-size: 20px !important;
}

@media only screen and (max-width: 767px) {

    .htabs a {
        font-size: 13px !important;
    }

    .header_mail {
        margin-right: 0px;
    }

}


